@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Poppins',sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}

.body{
  background-color: aliceblue;
}

.main{
  margin: 40px;
  margin-left: 250px;
  display: grid;
  grid-template-columns: 0.33fr 1fr;
  width: 210mm;
  height: 280mm;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
}

.left-part{
  background-color: wheat;
  padding: 40px;
  position: relative;

}



.profile{
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: center;

}
 
.profile .img{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;  
}

.profile .name{
  color: #fff;
  font-size: 22px;
  margin-top: 8px;
  text-align: left;
  padding: 0;
  padding-left: 5px;
  font-weight: 600;
  margin-bottom: 0;
  border-bottom: 1px solid #fff;
}

.title{
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
  padding-top: 5px;
}

.contact ul li{
  align-items: center;
  position: relative;
  list-style: none;
  margin: 10px 0px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500px;
  font-style: normal;
}

.pskills ul li{
  align-items: center;
  position: relative;
  margin: 10px 0px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500px;
  font-style: normal;
  padding-left: 20px;
}

.lan ul li{
  align-items: center;
  position: relative;
  margin: 10px 0px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500px;
  font-style: normal;
  padding-left: 20px;
}

.lan{
  padding-right: 50px;
}


.pskills .list{
  margin-left: 0px;
  padding-left: 3px;
  padding-right: 13px;
  margin-top: 0px;
}

.lan .list{
  margin-left: 0px;
  padding-left: 3px;
  padding-right: 20px;
  margin-top: 0px;
}


.contact .list{
  margin-left: 0px;
  padding-left: 3px;
  padding-right: 13px;
  margin-top: 0px;
}

.contact .li{
  margin-left: 3px;
}


.contact ul li .icon{
  display: inline-block;
  width: 30px;
  font-size: 15px;
  color: #fff;
}

.name{
  margin-top: 20px;
}

.contact{
  margin-top: 20px;
}
.pskills{
  margin-top: 20px;
}
.lan{
  margin-top: 20px;
}



.right-part{
  padding: 40px;
}


.obj .p{
  font-size: 8px;
  font-style: normal;
}

.obj{
  padding-bottom: 5px;
}

.title2{
  display: inline-block;
  padding: 2px 90px 2px 15px;
  margin-left: -40px;
  margin-top: 35px;
  margin-bottom: 30px;
  background-color: darksalmon;
  color: black;
  text-transform: uppercase;
}

.details{
  font-size: 10px;
  margin-bottom: 10px;
}

.b1{
  margin-top: 35px;
  border-radius: 4px;
  background-color: wheat;
  font-size: 15px;
  padding: 5px;
  
}

.b1:hover{
  background-color: gold;
}